@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PoppinsLight";
  src: url("../fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
.c1 {
  clip-path: circle(50% at 0 50%);
}
.t1 {
  clip-path: circle(50% at 82% 84%);
}
.upside {
  transform: rotate(180deg);
}

/* img:hover {
  transition: 1s all;
  transform: scale(1.05);
  transform-origin: 40%;
  z-index: 100;
} */

body {
  background-color: #f9f9f9;
  min-height: 100vh;
}
.font-PoppinsLight {
  font-family: "PoppinsLight", sans-serif;
  color: rgba(31, 1, 70, 0.854);
}
* {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 350ms;
}

.linear_text_1 {
  background: linear-gradient(to right, #9068bf, #1ba0e3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
